<doctype HTML>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel = "stylesheet" href = "myCatGenerator.css">
        <script type = "text/javascript" src = "myCatGenerator.js"></script>
    </head>

    <body>
        
        <div class = "typeBox">

            <div style = "padding-top: 25px; text-align: center">
                short-haired or long-haired
            </div>

            <div class = "type scale">
                <a href = "short-hair.html">
                    <img src = "data/short-hair.png">
                </a>
            </div>

            <div class = "type scale">
                <a href = "long-hair.html">
                    <img src = "data/long-hair.png">
                </a>
            </div>

        </div>
        
    </body>

</HTML>